@import '../../../general__properties';

footer{
  display: grid;
  grid-area: footer;
  grid-template-columns: minmax(16px, auto) minmax(288px, 1235px) minmax(16px, auto);
  grid-template-areas:
            ". fc .";
  background-color: $main__color__green;
  height: 138px;
  margin-top: 20px;
}

.footer__content {
  grid-area: fc;
  display: flex;
  justify-content: space-between;
  text-align: right;
  overflow: hidden;
}

.logo{
  align-content: center;
}

.logo > img {
  width: 140px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $main__color__white;
  font-size: 14px;
  padding: 25px;
}

.contacts {
  display: flex;
  flex-direction: column;
}