@import '../../../general__properties';

header {
  display: grid;
  grid-area: header;
  grid-template-columns: minmax(0, auto) minmax(288px, 1235px) minmax(0, auto);
  grid-template-areas:
            ". hc .";
}

.header__content {
  grid-area: hc;
  display: flex;
  justify-content: space-between;

  &.active {
    width: 100%;
    background-color: $main__color__green;
    color: $main__color__white;
  }
}

.logo > img {
  width: 140px;
}

.header__info {
  gap: 20px;

  &.active {
    display: flex;
    flex-direction: column;
  }
}

.sections > ul {
  display: flex;
  gap: 20px;

  &.active {
    flex-direction: column;
  }
}