@import '../../../general__properties';

header {
  display: grid;
  grid-area: header;
  grid-template-columns: minmax(0, auto) minmax(288px, 1235px) minmax(0, auto);
  grid-template-areas:
            ". hc .";
}

.header__content {
  grid-area: hc;
  display: flex;
  padding-top: 20px;

  &.active {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: $main__color__green;
    color: $main__color__white;
  }
}

.header__mobile {
  display: flex;
  justify-content: space-between;
}

.logo > img {
  width: 140px;
}

.header__info {
  margin: auto;

  &.active {
    display: flex;
    flex-direction: column;
  }
}

.companies {
  color: rgba(0, 0, 0, 0.2)
}

.using {
  color: black;
}

.limit {
  color: #8AC540;
}

.sections > ul {
  display: flex;
  gap: 20px;

  &.active {
    flex-direction: column;
    color: $main__color__white;
  }
}

.user {
  display: flex;
  flex-direction: row;
}

.burger__menu > img {
  width: 40px;
  height: 40px;
}

.authorization {
  display: flex;
  gap: 10px;
}

.register {
  color: rgba(0, 0, 0, 0.2)
}

.stick {
  width: 1px;
  background-color: $other__color__green;
  height: 26px;
  margin: auto;
}

.login {
  background-color: $other__color__green;
  border-radius: 4px;
  border: none;
  padding: 4px 12px;
}