@import '../../_general__properties.scss';

.block__for__slider {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.slider {
  display: flex;
  white-space: nowrap;
  overflow: scroll;
  gap: 30px;
}

.slider__block {
  display: inline-block;
  width: 400px;
  text-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.2);
  padding: 30px 20px;
}

.slider__block > div > img {
  width: 64px;
  height: 64px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button > img {
  width: 40px;
  height: 40px;
}