@import '../../../../_general__properties.css';

.results__page {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.try__to__find {
  display: flex;
}

.spans {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.big__text{
  font-family: ferry_black, sans-serif;
  font-size: 40px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel {
  height: 155px;
  border: 1px solid $other__color__green;
}

.list__of__documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.articles {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
}

.load__more {
  background-color: $other__color__blue;
  width: fit-content;
  height: fit-content;
  padding: 16px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}