@import "../../../../_general__properties.scss";

.summary__slider {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.slider {
  display: flex;
  border-radius: 5px;
  border: 1px solid $other__color__green;
  gap: 10px;
}

.slider__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $other__color__green;
  padding: 17px 28px;
  box-sizing: border-box;
}

.slider__line {
  display: flex;
  gap: 12px;
}

.slider__block {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  gap: 15px;
  padding: 17px 0;
}

.slider__stick {
  height: 80%;
  width: 2px;
  background-color: #949494;
  margin: auto 0 auto 0;
}