@media screen and (min-width: 1px) {
  .header__info {
    display: none;
  }

  .burger__menu {
    display: flex;
  }

  .authorization__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .picture > img {
    display: none
  }

  .tariffs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .one__card {
    width: 450px;
  }
}

@media screen and (min-width: 375px) {

}

@media screen and (min-width: 768px) {
  .header__info {
    display: flex;
  }

  .burger__menu {
    display: none;
  }

  .picture > img {
    display: flex;
  }


  .authorization__main{
    display: grid;
  }
}

@media screen and (min-width: 1024px) {
  .tariffs {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {

}