@import '_all__media.scss';

$main__color__green: #029491;
$main__color__black: #000000;
$main__color__white: #FFFFFF;

$other__color__yellow: #FFB64F;
$other__color__green: #7CE3E1;
$other__color__blue: #5970FF;

.error__message {
  color: #ff1a1c;
  font-size: 14px;
  text-align: center;
}

.input__error {
  border: 1px solid #ff1a1c;
}

@font-face {
  font-family: "Inter-regular";
  src: local("Inter-regular"),
  url("Inter-regular.otf") format("woff");
}

@font-face {
  font-family: "ferry_black";
  src: local("ferry_black"),
  url("ferry_black.otf") format("woff");
}

* {
  font-family: Inter-regular, sans-serif;
}
